<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon" />
    <title>DECODE</title>
    <meta
      name="description"
      content="Welcome to DECODE, a website featuring high quality tutorials on programming and other topics. Our goal is to help you learn and grow in your field, whether you're a beginner or an experienced developer."
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <a href="/"
        ><img src="/assets/logo.png" alt="" title="DECODE" /> DECODE</a
      >
    </nav>
    <main class="list">
      <ul id="list">
        {{range .Posts}}
        <li>
          <a href="{{.Url}}" title="{{.Data.title}}">{{.Data.title}}</a>
        </li>
        {{end}}
      </ul>
    </main>
  </body>
</html>
